.footer {
  position: absolute;
  bottom: 0;
  width: 90vw;
  margin-left: 5vw;
  z-index: 1;
  padding: 1rem 0.5rem;

  &-container {
    display: flex;
    justify-content: space-between;

    .mail {
      width: auto;
      span {
        margin-right: 2rem;
      }
    }
  }
}
