.header {
  @include display-flex;
  padding: 1rem 0;
  position: relative;
  width: 90vw;
  height: 15vh;
  margin: 0 auto;
  z-index: 1;

  &-right {
    // width: 60%;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .ham-icon {
        display: none;
      }
      .menu-bar {
        .menu-item {
          display: flex;
          justify-content: space-between;

          .list-item {
            margin: 0 2rem;
            font-size: 1rem;
            cursor: pointer;
            position: relative;
          }
          .active {
            color: lighten($color: $primary-color, $amount: 40%);

            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: -5px;
              width: 100%;
              height: 2px;
              padding: 0 5px;
              background-color: lighten($color: $primary-color, $amount: 40%);
            }
          }
        }
      }
    }
  }
}

.logo {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  .text {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    color: lighten($primary-color, 40%);
    // -webkit-animation: color 20s ease-in-out infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    font-size: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  &-text {
    display: block;
    width: 100%;
    height: 100%;
    animation: rotate_shadow 40s ease-in-out infinite;
    // animation: color 20s ease-in-out infinite;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;
    cursor: pointer;

    span {
      position: absolute;
      font-family: monospace;
      left: 50%;
      top: 0;
      font-weight: 100;
      -webkit-transform-origin: 0 40px;
      transform-origin: 0px 36px;
      font-size: 0.55rem;
      text-transform: uppercase;
    }
  }
}

@keyframes rotate_shadow {
  0% {
    // text-shadow: 0 11px 0 lighten($primary-color, 40%);
    transform: rotate(0deg);
  }
  25% {
    // text-shadow: 0 -10px 0 lighten($primary-color, 40%);
    transform: rotate(180deg);
  }
  50% {
    // text-shadow: 0 11px 0 lighten($primary-color, 40%);
    transform: rotate(360deg);
  }
  75% {
    // text-shadow: 0 -10px 0 lighten($primary-color, 40%);
    transform: rotate(180deg);
  }
  100% {
    // text-shadow: 0 11px 0 lighten($primary-color, 40%);
    transform: rotate(0deg);
  }
}

@keyframes color {
  0% {
    color: #6f6e6e;
  }
  25% {
    color: #6f6e6e;
  }
  50% {
    color: lighten($primary-color, 40%);
  }
  75% {
    color: lighten($primary-color, 40%);
  }
  100% {
    color: #6f6e6e;
  }
}
